/*  logo */
.top-header {
  min-height: 150px;
  width: 100%;
  background-color: #334166;
  justify-content: center;
  display: flex;
  align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.alfa-version {
  font-size: 1.2rem;
  color: #fff;
  display: block;
  text-align: right;
  padding-right: 18px;
  position: relative;
  top: -20px;
  margin-right: 0.2rem;
}
.img {
  margin-left: 2rem;
}

.logo-name {
  justify-content: center;
  display: flex;
  font-weight: 500;
  line-height: 85px;
  font-family: sans-serif;
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  letter-spacing: 6px;
}
top-header .title-rating .title-block-small {
  text-transform: capitalize;
}

/* table */
.row-top {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.table {
  font-size: 1rem;
}
.thead {
  background-color: #334166;
  color: #fff;
}
/* footer */

p {
  color: #999;
  line-height: 25px;
}
h2,
h3 {
  color: #fff;
}
h2 {
  font-size: 18px;
}
.footer-top {
  background: #334166;
  padding: 40px 0;
}
.segment-one h3 {
  font-family: sans-serif;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}
.segment-two h2 {
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.segment-two h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}

.segment-two ul li a {
  color: #999;
  text-decoration: none;
}
.segment-three h2 {
  margin-top: 1rem;
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.segment-three h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 12px;
}

.segment-four h2 {
  font-family: sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}

.segment-four form input[type="submit"] {
  background: #c65039;
  border: none;
  padding: 3px 6px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
}

.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
}
.a {
  display: inline;
}

/* info card */

.foto {
  margin-top: 10px;
  display: inline-block;
  font-size: 1.3rem;
}

.quote {
  margin-top: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.3rem;
}

.justify-content-around {
  margin-top: 10%;
}
.card-text {
  margin-top: 8%;
  text-align: center;
  font-size: 1.3rem;
}
body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
